doctype 5
html
	head
		title Jasmine TDD Specs Runner
		link(rel="stylesheet", href="/jasmine/lib/jasmine-core/jasmine.css")
		script(src="/grunt-contrib-requirejs/node_modules/requirejs/require.js" data-main="js/_specs/quanSpecsBootstrap.js")
	body