html, body { font: normal 14px "Segoe UI", "Helvetica Neue", "Trebuchet MS", Arial, sans-serif;} 
html, body, div, span, p, ul, li, h1 { margin:0; padding: 0;}
h2,h3,h4,h5,h6 { margin:0; padding:0; font:bold 15px "Helvetica Neue", "Trebuchet MS", Arial, sans-serif;}
a {  color:#333;}

table { border-spacing:0; border-collapse:collapse; border-color:#eee;}
table td { padding:5px; border-color:#eee;}
table thead tr { background: #eee; border:none; color:#1b49b5; border-color:#eee;}
table thead tr th {padding:5px;}
table td.head { font-weight: bold;}
table td.updated,
table td.date,
table td.created { color:#666;}
table td.name .icon { background-position: -17px -519px; margin-top:2px;}
table td.name a { color:#1b49b5;}
table td.name a:hover { color:#7187bc;}
table.dataDisplay { border:1px solid #eee;}
table.dataDisplay a { font-style: italic;}

.detailView, .dataDisplay { margin-top:20px;}
.icon { display:block; overflow:hidden; float:left; margin-right: 5px; background:url('../resources/spritesheet.png') 0px -187px no-repeat; width: 17px; height:17px; }
.time { background-position:-17px -741px; width:14px; margin:3px 0 0 5px;}
.account { background-position: -17px -621px; }

header, #main, footer { clear:both; float:none; display: block; overflow: hidden; }
header { background: #4c66a4; color: #eee;}
header h1 { padding:10px 0 10px 20px;}

section#main #menu { display: block; overflow: hidden; float: left; background: #eee; min-width: 220px;}
section#main #menu a { display:block; clear:both; padding: 10px 15px; text-decoration: none; color:#000;}
section#main #menu a:hover span { background-position: -17px -187px;}
section#main #menu a:hover { background:#fefefe;}
section#main #menu a.selected { background:#fefefe; font-weight: bold;} 
section#main #menu a.selected span { background-position: -17px -187px;}

section#main #content { display: block; overflow: hidden; padding:25px 0 0 20px; background:#fefefe; float:left;}

footer { background:#4c66a4 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMVEVOaaJDYJxCX5xBXptIZJ9MZ6E/XJpFYZ1KZqA9W5lGYp5HY55MaKFJZZ9LZqBEYZ1NaaJNaKJNaKFAXZtAXZpLZ6E+XJo+W5lJZaA9Wpk8Wpk8Wpg8WZg7WZj2xcGWAAAANElEQVR42lWGSQoAIBDDHCjo0f8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg=='); color:#fff; font-weight: bold; height:42px;}
footer p { line-height: 40px; margin-left: 20px;}

